* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('thermometer-1539191_1280.jpg'); /* Replace with your background image URL */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Keep original resolution */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.login-box {
    background-color: rgba(255, 255, 255, 0.5); /* White shade with less transparency */
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 12px; /* Increased border radius for a smoother look */
    text-align: center;
    max-width: 500px;
    width: 100%;
    backdrop-filter: blur(10px); /* Add a blur effect to enhance the background */
}

.login-box h1 {
    font-size: 3.2em;
    color: #2c3e50; /* Dark blue for a professional look */
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #0a420c; /* Green color to match the healthcare theme */
    font-family: 'Poppins', sans-serif;
}

.login-box h2 {
    font-size: 1.5em;
    color: #3f0909; /* Matching green color for consistency */
    margin-bottom: 2em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.input-group {
    margin-bottom: 1.5em;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #2c3e50;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 1em;
    color: #2c3e50;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3498db;
}

.signup-link {
    margin-top: 1em;
    color: #2c3e50;
}

.signup-link a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}
